button.search {
    color: #32a7a9;
    background-color: #f5f5f5;
    border: 2px solid #32a7a9;
    border-radius: 8px;
    height: 10%;
    width: 10%;
}

button.plus {
    color: white;
    background-color: #00d1b2;
    border: 2px solid #00d1b2;
    border-radius: 50%;
}

button.createaccount {
    color: white;
    background-color: #2b78e4;
    border: 3px solid black;
    height: 10%;
    width: 13%;
    box-shadow: 2px 3px black;
}